* {
  box-sizing: border-box;
}
button {
  border: 2px solid black;
  color: white;
  background-color: blue;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
}
button:hover {
  background-color: skyblue;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
